<article
  [@fadeInOnEnter] [@fadeOutOnLeave]
  *ngIf="edit == false"
  class="flex flex-col justify-between items-center w-full h-auto"
>
  <ul class="self-start ml-6">
    <!-- <h2 class="mb-4 font-bold">Dados da sua conta:</h2> -->
    <li class="mb-4">
      <p class="font-semibold">Nome completo:</p>
      {{ user.name }}
    </li>
    <li class="mb-4">
      <p class="font-semibold">Email:</p>
      {{ user.email }}
    </li>
    <li class="mb-4">
      <p class="font-semibold">Endereço:</p>
      {{ user.address }}
    </li>
    <li class="mb-4">
      <p class="font-semibold">CPF:</p>
      {{ user.cpf }}
    </li>
    <li class="mb-4">
      <p class="font-semibold">Data de nascimento:</p>
      {{ user.birthdate | date: "dd/MM/yyyy" }}
    </li>
  </ul>
  <div
    class="w-full h-auto flex-wrap pt-4 pl-4 !pb-10 flex justify-around sm:!justify-start items-center self-start"
  >
    <div class="flex w-full h-auto sm:!mx-2">
      <button
        (click)="edit = true"
        class="flex relative justify-center py-2 w-full text-sm font-medium text-gray-600 bg-emerald-200 rounded-md border border-transparent transition-all duration-500 hover:bg-emerald-300 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2"
      >
        Editar dados
      </button>
      <button
        id="logoutButton"
        (click)="logout()"
        title="Fazer logoff"
        class="flex relative justify-center items-center place-self-center ml-2 w-8 h-8 bg-emerald-700 rounded-lg transition-all duration-500 origin-center cursor-pointer shrink-0 hover:scale-125 last:z-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"

            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
          />
        </svg>
      </button>
    </div>
    <button
      class="relative flex w-full justify-center py-2 px-4 mt-2 sm:!mx-2 rounded-md border-[3px] border-emerald-700 text-sm font-medium text-gray-300 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all duration-500"
    >
      Deletar conta
    </button>
  </div>
</article>
<app-register-form
  *ngIf="edit == true"
  (closeFormEvent)="edit = !$event"
  [isEditMode]="true"
></app-register-form>
