<article
  *ngIf="edit == false"
  class="w-full h-auto flex flex-col items-center justify-between"
  style="grid-area: profile"
>
  <ul class="self-start ml-6">
    <h2 class="mb-4 font-bold">Dados da sua conta:</h2>
    <li class="mb-4">
      <p class="font-semibold">Nome completo:</p>
      Patrick Matias da Silva
    </li>
    <li class="mb-4">
      <p class="font-semibold">Email:</p>
      patrick@forfait.org
    </li>
    <li class="mb-4">
      <p class="font-semibold">Endereço:</p>
      Rua Cinco de Julho, Guarulhos
    </li>
    <li class="mb-4">
      <p class="font-semibold">CPF:</p>
      485.345.993-08
    </li>
    <li class="mb-4">
      <p class="font-semibold">Data de nascimento:</p>
      22/11/2003
    </li>
  </ul>
  <div class="w-full h-auto p-4 !pb-10 flex justify-around sm:!justify-start items-center self-start">
    <button
      (click)="edit = true"
      class="relative flex w-fit justify-center py-2 px-4 sm:!mx-4 rounded-md border border-transparent bg-emerald-200 text-sm font-medium text-gray-600 hover:bg-emerald-300 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-colors"
    >
      Editar dados
    </button>
    <button
      class="relative flex w-fit justify-center py-2 px-4 sm:!mx-4 rounded-md border border-transparent bg-red-600 text-sm font-medium text-gray-300 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-colors duration-500"
    >
      Deletar conta
    </button>
    <button
      id="logoutButton"
      (click)="logout()"
      title="Fazer logoff"
      class="w-8 h-8 flex justify-center items-center place-self-center sm:!mx-4 bg-emerald-700 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 relative last:z-50"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
        />
      </svg>
    </button>
  </div>
</article>
<app-register-form
  *ngIf="edit == true"
  (closeFormEvent)="edit = !$event"
  [isEditMode]="true"
></app-register-form>
