@tailwind base;
@tailwind components;
@tailwind utilities;
.grid-layout
{
    display: grid; 
    grid-template-columns: 0.8fr 1.1fr 1.1fr; 
    grid-template-rows: 1fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "profile view view"
      "footer footer footer"; 
}