<section
  class="grid grid-cols-1 gap-0 justify-between items-center w-full h-auto text-gray-200 grid-layout grid-rows-auto-3 sm:h-full"
>
  <h1
    class="relative mx-auto my-16 text-2xl font-bold tracking-wide text-center text-emerald-50 w-fit h-fit grid-position"
  >
    Olá, <span class="font-extrabold text-emerald-100">Patrick!</span>
    <button
      id="logoutButton"
      (click)="logout()"
      title="Fazer logoff"
      class="flex absolute bottom-0 left-full justify-center items-center self-end p-1 w-8 h-8 rounded-lg transition-all duration-500 origin-center cursor-pointer hover:scale-125 last:z-20"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"
        />
      </svg>
    </button>
  </h1>
  <app-operations-table
    class="py-8 w-full h-auto sm:h-full grid-position"
  ></app-operations-table>
  <app-user-detail
    class="overflow-y-auto overflow-x-hidden self-start w-full sm:h-full grid-position"
  ></app-user-detail>
</section>
