<form
  class="w-full h-full p-4 flex flex-col"
  autocomplete="off"
  [formGroup]="form"
>
  <h2 class="mb-2 text-xl font-medium text-emerald-100">Criar nova operação</h2>

  <div>
    <label for="name" class="ml-1 mt-8 sm:mt-4 block text-base font-medium"
      >Nome da operação</label
    >
    <input
      id="name"
      formControlName="name"
      type="text"
      required
      class="block w-full rounded-md border-none !bg-emerald-600 px-3 focus:!bg-emerald-500 focus:!ring-emerald-400 transition-colors duration-500 sm:text-sm"
    />
  </div>
  <div class="flex flex-col items-start">
    <label for="value" class="ml-1 mt-4 sm:mt-2 block text-base font-medium"
      >Qual será o valor da operação?</label
    >
    <div class="w-full h-fit relative">
      <p class="absolute left-0 pl-3 translate-center-y">
        {{ form.get("value")?.value | currency: "BRL" }}
      </p>
      <input
        name="value"
        id="value"
        formControlName="value"
        type="number"
        required
        class="!text-transparent block w-full rounded-md border-none bg-emerald-600 px-3 focus:bg-emerald-500 focus:ring-emerald-400 transition-colors duration-500 sm:text-sm"
      />
    </div>
    <caption class="ml-1 mt-1 text-xs font-medium text-gray-300">
      Valor mínimo: R$ 1.000,00
    </caption>
  </div>
  <div>
    <label class="ml-1 mt-4 sm:mt-2 block text-base font-medium"
      >De quais notas você irá precisar?</label
    >
    <div formGroupName="bills" class="w-full h-auto mt-2 flex justify-start">
      <button
        id="bill10"
        (click)="toggleBill('10')"
        class="p-3 ml-3 w-auto h-auto flex justify-center items-center bg-emerald-700 rounded-lg cursor-pointer transition-colors duration-500"
      >
        R$ 10
      </button>
      <button
        id="bill50"
        (click)="toggleBill('50')"
        class="p-3 ml-3 w-auto h-auto flex justify-center items-center bg-emerald-700 rounded-lg cursor-pointer transition-colors duration-500"
      >
        R$ 50
      </button>
      <button
        id="bill100"
        (click)="toggleBill('100')"
        class="p-3 ml-3 w-auto h-auto flex justify-center items-center bg-emerald-700 rounded-lg cursor-pointer transition-colors duration-500"
      >
        R$ 100
      </button>
    </div>
  </div>
  <div
    id="packagesContainer"
    class="w-full h-32 flex my-4 overflow-x-scroll"
  >
  <p>Quantidade de pacotes utilizados: 11</p>

    <!-- <app-package
      *ngFor="let pkg of packages"
      [package]="pkg"
      class="w-fit h-fit first:ml-0 mx-1"
    ></app-package> -->
  </div>
  <div class="w-full h-fit flex flex-col justify-end">
    <button
      type="submit"
      [disabled]="this.form.invalid"
      (click)="submitForm()"
      class="relative w-full rounded-md border border-transparent bg-emerald-800 py-2 px-4 my-0 mx-auto text-sm font-medium text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-all duration-500 disabled:opacity-50"
    >
      Fazer nova operação
    </button>
  </div>
</form>
