<form class="mt-8 space-y-6" action="#" method="POST">
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-emerald-100">
    Acesse sua conta
  </h2>
  <input type="hidden" name="remember" value="true" />
  <div class="-space-y-px rounded-md shadow-sm">
    <div>
      <label for="email" class="block text-sm font-medium text-white"
        >Email</label
      >
      <div class="relative mt-1 rounded-md shadow-sm">
        <input
          name="email"
          id="email"
          type="email"
          autocomplete="email"
          required
          class="block w-full rounded-md border-gray-300 px-3 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
          placeholder="patrick@forfait.org"
        />
      </div>
    </div>
    <div>
      <label for="password" class="mt-4 block text-sm font-medium text-white"
        >Senha</label
      >
      <div class="relative mt-1 rounded-md shadow-sm">
        <input
          name="password"
          id="password"
          type="password"
          autocomplete="current-password"
          required
          class="block w-full rounded-md border-gray-300 px-3 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
          placeholder="••••••••"
        />
      </div>
    </div>
  </div>

  <div>
    <button
      type="submit"
      class="group relative flex w-full justify-center rounded-md border border-transparent bg-emerald-800 py-2 px-4 text-sm font-medium text-white hover:bg-emerald-900 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-colors"
    >
      <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <!-- Heroicon name: mini/lock-closed -->
        <svg
          class="h-5 w-5 text-emerald-600 group-hover:text-emerald-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      Fazer login
    </button>
  </div>
</form>
