<form class="w-full h-auto mt-8 px-16 space-y-6" [formGroup]="form">
  <h2
    class="mt-6 text-center text-3xl font-bold tracking-tight text-emerald-100"
  >
    Acesse sua conta
  </h2>
  <div class="-space-y-px rounded-md shadow-sm">
    <div>
      <label for="email" class="block text-sm font-medium text-white"
        >Email</label
      >
      <div class="relative mt-1 rounded-md shadow-sm">
        <input
          name="email"
          id="email"
          type="email"
          autocomplete="email"
          required
          class="block w-full rounded-md border-gray-300 px-3 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
          placeholder="patrick@forfait.org"
          formControlName="email"
        />
      </div>
    </div>
    <div>
      <label for="password" class="mt-4 block text-sm font-medium text-white"
        >Senha</label
      >
      <div class="relative mt-1 rounded-md shadow-sm">
        <input
          name="password"
          id="password"
          type="password"
          autocomplete="current-password"
          required
          class="block w-full rounded-md border-gray-300 px-3 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
          placeholder="••••••••"
          formControlName="password"
        />
      </div>
    </div>
  </div>

  <button
    id="submitButton"
    type="submit"
    (click)="submitForm()"
    [disabled]="this.form.invalid || ui.feedback != undefined"
    class="w-full relative top-0 left-0 flex justify-center rounded-md border border-transparent bg-emerald-800 py-2 px-4 mt-6 text-sm font-medium text-white hover:bg-emerald-900 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-all duration-500 disabled:opacity-50"
  >
    Fazer login
  </button>

  <button
    #registerButton
    id="showRegisterFormButton"
    (click)="closeForm()"
    class="relative w-full rounded-md border border-transparent bg-emerald-200 py-2 px-4 mt-6 mb-10 text-sm font-medium text-gray-600 hover:bg-emerald-300 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-all duration-500 disabled:opacity-50"
  >
    Não tem conta? <br />
    Faça seu cadastro!
  </button>

  <!-- START - Form submit result feedback -->
  <div
    *ngIf="ui.feedback == 'success'"
    class="w-full h-fit p-4 mt-6 rounded-md text-emerald-100 text-center font-bold bg-emerald-900"
  >
    <p>Login bem-sucedido! =)</p>
    <p class="mt-2 text-xs font-light">
      Sendo redirecionado em {{ ui.seconds }} seg.
    </p>
  </div>
  <div
    *ngIf="ui.feedback == 'error'"
    class="w-full h-fit p-4 mt-6 rounded-md text-gray-200 text-center font-bold bg-red-700"
  >
    <p>Ops! Tivemos um problema ao tentar fazer login =(</p>
    <p class="mt-2 text-xs font-light">
      Verifique seu email/senha e tente novamente ({{ ui.seconds }}).
    </p>
  </div>
  <!-- END - Form submit result feedback -->
</form>
