<!-- Operation Detail View -->

<li
  class="w-full h-full sticky top-0 left-0 z-40 p-4 flex flex-col justify-between bg-emerald-800 overflow-hidden"
>
  <div>
    <div class="flex mb-6 items-center">
      <h2 class="w-3/4 text-xl font-medium text-emerald-100">
        {{ operation.name }}
      </h2>
      <div class="w-1/4 flex flex-col justify-between items-end">
        <div
          class="w-fit h-fit px-2 py-1 flex flex-col items-center bg-emerald-900 rounded-lg text-emerald-100"
        >
          <p
            class="text-emerald-100 font-medium"
            [class.!text-yellow-100]="operation.status === 'reserved'"
          >
            {{ status }}
          </p>
          <span
            *ngIf="operation.parentOperationId"
            class="w-full h-1 my-1 bg-emerald-800"
          ></span>
          <button
            *ngIf="operation.parentOperationId"
            (click)="showParent()"
            class="w-fit h-fit text-xs font-light flex justify-center items-center cursor-pointer hover:text-emerald-200 transition-all duration-500"
          >
            Ver operação pai
          </button>
        </div>
      </div>
    </div>

    <table
      *ngIf="!maximizeSubOperation"
      class="w-full h-fit flex flex-col mt-4 pt-4 rounded-t-lg bg-emerald-900"
    >
      <tr class="flex mb-4 pr-3 pl-2 relative">
        <td class="w-6 flex justify-center">💰</td>
        <td class="w-full flex justify-between ml-2">
          <p class="pl-[0.1rem]">Valor:</p>
          <p>{{ operation.value | currency : "BRL" }}</p>
        </td>
        <span class="w-full h-2 bg-emerald-700 absolute top-full left-0"></span>
      </tr>
      <tr class="flex mb-4 pr-3 pl-2 relative">
        <td class="w-6 flex justify-center">💵</td>
        <td class="w-full flex justify-between ml-2">
          <p>Nota requisitada:</p>
          <p>{{ operation.billType | currency : "BRL" }}</p>
        </td>
        <span class="w-full h-2 bg-emerald-700 absolute top-full left-0"></span>
      </tr>
      <tr
        *ngIf="isParent"
        class="flex mb-4 pr-3 pl-2 relative"
      >
        <td class="w-6 flex justify-center">🔢</td>
        <td class="w-full flex justify-between ml-2">
          <p>Quantidade de sub-operações:</p>
          <p>
            {{ operation.children.length }}
          </p>
        </td>
        <span class="w-full h-2 bg-emerald-700 absolute top-full left-0"></span>
      </tr>
      <tr class="flex mb-4 pr-3 pl-2 relative">
        <td class="w-6 flex justify-center">🧳</td>
        <td class="w-full flex justify-between ml-2">
          <p>Quantidade de pacotes:</p>
          <p>
            {{ operation.packages.length }}
          </p>
        </td>
        <span class="w-full h-2 bg-emerald-700 absolute top-full left-0"></span>
      </tr>
      <tr class="flex pr-3 pl-2 relative">
        <td class="w-6 flex justify-center">📅</td>
        <td class="w-full flex justify-between ml-2">
          <p>Criado em:</p>
          <p>{{ operation.createdAt | date : "dd/MM/yyyy" }}</p>
        </td>
        <span class="w-full h-2 bg-emerald-700 absolute top-full left-0"></span>
      </tr>
    </table>
  </div>
  <div
    [class.grid-cols-auto-2]="selectedPackage"
    class="h-fit w-full bg-emerald-900 rounded-lg grid grid-rows-auto-1 relative overflow-hidden items-end"
    *ngIf="operation.packages.length > 0"
  >
    <p
      [class.mr-3]="selectedPackage"
      class="h-fit w-fit ml-3 mt-[5px]"
      style="grid-area: 1 / 1 / 2 / 2"
    >
      Alguns pacotes desta operação:
    </p>
    <div class="w-full h-fit relative overflow-x-scroll">
      <div
        class="w-fit h-fit p-4 pt-3 rounded-lg flex"
        style="grid-area: 2 / 1 / 3 / 2"
      >
        <button
          class="w-fit h-fit my-1 mx-2 first:ml-0 last:mr-4"
          *ngFor="let pkg of operation.packages.slice(0, 20)"
          (click)="selectPackage(pkg.id)"
        >
          <app-package
            [package]="pkg"
            [id]="pkg.id"
          ></app-package>
        </button>
      </div>
    </div>
    <div
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
      *ngIf="selectedPackage"
      style="grid-area: 1 / 2 / 3 / 3"
      class="m-4"
    >
      <app-package
        [package]="selectedPackage"
        [minify]="false"
      ></app-package>
    </div>
    <div
      [class.!right-40]="selectedPackage"
      id="endDarkGradient"
      class="w-[5%] h-full absolute z-10 right-0 top-0 bg-gradient-to-l from-black to-transparent opacity-20 transition-all duration-300"
    ></div>
  </div>
  <app-sub-operations-table
    *ngIf="subOperations"
    [subOperations]="subOperations"
    (maximize)="maximizeSubOperation = !maximizeSubOperation"
    [ngClass]="{ '!rounded-xl': maximizeSubOperation }"
    class="h-full w-full mt-4 p-3 pt-[5px] bg-emerald-900 rounded-lg flex flex-col relative overflow-hidden"
  ></app-sub-operations-table>
  <div
    #buttonsRow
    *ngIf="!maximizeSubOperation"
    class="flex self-end mt-2"
  >
    <!-- Error message -->
    <div
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
      *ngIf="ui.feedback === 'error'"
      class="p-2 mr-2 w-full font-bold text-center text-gray-200 bg-red-700 rounded-md h-fit"
    >
      <p class="text-xs font-light whitespace-nowrap">
        Ops! Tivemos um erro ao deletar a operação!
      </p>
    </div>
    <!-- Confirm message -->
    <div
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
      *ngIf="confirmDeletion === false"
      class="p-2 mr-2 w-full font-bold text-center text-gray-200 bg-emerald-900 rounded-md h-fit"
    >
      <p class="text-xs font-light whitespace-nowrap">
        Tem certeza em deletar esta operação?
      </p>
    </div>
    <!-- Delete button and feedbacks -->
    <button
      #deleteButton
      id="deleteButton"
      (click)="deleteOperation()"
      title="Excluir operação"
      [disabled]="ui.feedback != undefined"
      [class.!bg-emerald-500]="ui.feedback === 'success'"
      [class.!bg-emerald-700]="confirmDeletion === false"
      class="w-8 h-8 mr-2 flex justify-center items-center bg-red-700 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 shrink-0"
    >
      <!-- Loading -->
      <app-icon
        *ngIf="ui.feedback === 'loading'"
        icon="spinner-loader-relative"
        size="sm"
      ></app-icon>
      <!-- Neutral -->
      <app-icon
        *ngIf="ui.feedback === undefined && confirmDeletion === undefined"
        icon="trash-can"
      ></app-icon>
      <!-- Success -->
      <app-icon
        *ngIf="ui.feedback === 'success'"
        icon="check"
      ></app-icon>
      <!-- Alert icon -->
      <app-icon
        *ngIf="ui.feedback === 'error'"
        icon="alert"
      ></app-icon>
      <!-- Question icon -->
      <app-icon
        *ngIf="confirmDeletion === false"
        icon="question"
      ></app-icon>
    </button>
    <button
      #returnButton
      (click)="return()"
      [title]="
        confirmDeletion === false ? 'Cancelar deleção' : 'Minimizar operação'
      "
      class="w-8 h-8 flex justify-center items-center bg-emerald-700 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 shrink-0"
    >
      <app-icon icon="return"></app-icon>
    </button>
  </div>
</li>
