<!-- Minimized Operation View -->
<li
  class="w-full h-auto relative p-4 bg-emerald-800"
  [ngClass]="{ 'px-2 flex justify-center': minifiedSubOperationView }"
  *ngIf="!showDetail || minifiedSubOperationView"
>
  <div
    *ngIf="!minifiedSubOperationView"
    class="flex justify-between"
  >
    <div class="font-medium text-sm sm:text-base">
      <h2 class="mb-2 text-xl text-emerald-100">
        {{ operation.name }}
      </h2>
      <div
        class="w-fit h-fit px-2 py-1 flex items-center bg-emerald-900 rounded-lg text-emerald-100"
      >
        <p [class.!text-yellow-100]="operation.status === 'reserved'">
          {{ status }}
        </p>
        <span
          *ngIf="operation.parentOperationId"
          class="flex items-center"
        >
          <span class="mx-1 font-bold text-emerald-800">|</span>
          <p>Sub-operação {{ operation.subId }}</p>
        </span>
      </div>
      <p class="ml-1 mt-1 text-base">
        Valor: {{ operation.value | currency : "BRL" }}
      </p>
    </div>
    <button
      #showDetailButton
      *ngIf="!loadingDetail"
      (click)="loadOperation()"
      title="Ver mais informações da operação"
      class="w-8 h-8 mb-1 mr-1 flex justify-center items-center self-end bg-emerald-700 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 relative"
    >
      <app-icon icon="three-dots"></app-icon>
    </button>
  </div>
  <div
    *ngIf="minifiedSubOperationView"
    class="flex"
  >
    <div
      class="w-fit h-fit p-2 flex items-center bg-emerald-900 rounded-lg text-emerald-100 font-medium text-xs sm:text-base"
    >
      <p>Sub-operação {{ operation.subId }}</p>
      <span class="mx-1 font-bold text-emerald-800">|</span>
      <p [class.!text-yellow-100]="operation.status === 'reserved'">
        {{ status }}
      </p>
      <span class="mx-1 font-bold text-emerald-800">|</span>
      <p>{{ operation.value | currency : "BRL" }}</p>
    </div>
    <button
      #showDetailButton
      *ngIf="!loadingDetail && !showDetail"
      (click)="loadOperation()"
      title="Ver mais informações da operação"
      class="w-8 h-8 ml-2 mb-1 mr-1 flex justify-center items-center self-end bg-emerald-700 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 relative"
    >
      <app-icon icon="three-dots"></app-icon>
    </button>
  </div>
</li>
<div
  #divisionLine
  *ngIf="!isParent && !showDetail"
  class="w-full h-1 bg-emerald-900"
></div>
<div
  #subOperations
  *ngIf="isParent && !showDetail"
  title="Ver sub-operações"
  class="w-full h-fit py-2 px-4 flex items-center justify-center rounded-b-xl"
>
  <button
    [disabled]="loadingDetail"
    (click)="loadOperation()"
    class="flex items-center justify-center hover:cursor-pointer"
  >
    <p class="text-xs font-light">
      Possui {{ operation.children.length }} sub-operações
    </p>
    <app-icon
      icon="chevron-right"
      size="xs"
    ></app-icon>
  </button>
</div>

<!-- Loading Operation Detail -->
<div
  *ngIf="loadingDetail"
  class="h-full w-full relative flex flex-col flex-1 justify-end items-center"
>
  <app-icon
    icon="spinner-loader"
    size="xl"
  ></app-icon>
  <button
    *ngIf="showCancel"
    [@fadeInOnEnter]
    [@fadeOutOnLeave]
    (click)="cancel()"
    class="w-fit py-1 px-3 bg-emerald-700 flex items-center justify-center hover:cursor-pointer mb-8 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 shadow-md"
  >
    Voltar
  </button>
</div>

<app-operation-detail
  *ngIf="showDetail"
  [operation]="cachedOperation!"
  [minifiedSubOperationView]="minifiedSubOperationView"
  (onClose)="closeDetail()"
  class="h-full"
></app-operation-detail>
