<!-- Minimized Operation View -->
<li
  class="w-full h-auto relative p-4 flex justify-between bg-emerald-800"
  *ngIf="!showDetail"
>
  <div>
    <h2 class="mb-2 text-xl font-medium text-emerald-100">
      {{ operation.name }}
    </h2>
    <div
      class="w-fit h-fit px-2 py-1 flex items-center bg-emerald-900 rounded-lg text-emerald-100"
    >
      <p
        class="font-medium"
        [class.!text-yellow-100]="operation.status === 'reserved'"
      >
        {{ status }}
      </p>
      <span
        class="mx-1 font-bold text-emerald-800"
        *ngIf="operation.parentOperationId"
        >|</span
      >
      <p
        class="text-xs font-medium"
        *ngIf="operation.parentOperationId"
      >
        Sub-operação {{ operation.subId }}
      </p>
    </div>
    <p class="ml-1 mt-1">Valor: {{ operation.value | currency : "BRL" }}</p>
  </div>
  <button
    #showDetailButton
    *ngIf="!loadingDetail"
    (click)="loadOperation()"
    title="Ver mais informações da operação"
    class="w-8 h-8 mb-1 mr-1 flex justify-center items-center self-end bg-emerald-700 rounded-lg cursor-pointer hover:scale-125 origin-center transition-all duration-500 relative"
  >
    <app-icon icon="three-dots"></app-icon>
  </button>
</li>
<div
  *ngIf="operation.children.length <= 0 && !showDetail"
  class="w-full h-1 bg-emerald-900"
></div>
<div
  #subOperations
  *ngIf="operation.children.length > 0 && !showDetail"
  title="Ver sub-operações"
  class="w-full h-fit py-2 px-4 flex items-center justify-center rounded-b-xl"
>
  <button
    [disabled]="loadingDetail"
    (click)="loadOperation()"
    class="flex items-center justify-center hover:cursor-pointer"
  >
    <p class="text-xs font-light">
      Possui {{ operation.children.length }} sub-operações
    </p>
    <app-icon
      icon="chevron-right"
      size="xs"
    ></app-icon>
  </button>
</div>

<!-- Loading Operation Detail -->
<div
  *ngIf="loadingDetail"
  class="h-full w-full relative flex-1"
>
  <app-icon
    icon="spinner-loader"
    size="xl"
  ></app-icon>
</div>

<app-operation-detail
  *ngIf="showDetail"
  [operation]="cachedOperation!"
  (onClose)="closeDetail()"
  class="h-full"
></app-operation-detail>
