<div
  class="w-full h-full flex sm:flex-row-reverse flex-col justify-around space-y-8"
>
  <h1
    class="sm:w-2/3 w-full h-2/4 sm:h-full flex justify-center items-center bg-emerald-200 !text-[40vw] sm:!text-[200px] text-center pt-6"
  >
    🧳
  </h1>

  <section
    class="w-full sm:w-1/3 h-full !mt-0 flex flex-col justify-center items-center bg-emerald-600"
    style="overflow-y: overlay"
  >
    <app-login-form
      *ngIf="!showRegisterForm"
      (closeFormEvent)="showRegisterForm = $event"
    ></app-login-form>
    <app-register-form
      *ngIf="showRegisterForm"
      (closeFormEvent)="showRegisterForm = !$event"
      class="pt-80 sm:pt-24"
    ></app-register-form>
  </section>
</div>
