<section class="flex flex-col items-center mb-8 w-full h-auto sm:h-full">
  <div class="flex justify-between self-start px-8 pb-2 w-full sm:px-16">
    <h1 class="text-2xl font-semibold tracking-wide text-emerald-100">
      Suas operações
    </h1>
    <div
      #buttons
      class="flex"
    >
      <button
        #addAndClose
        [title]="showAddForm ? 'Fechar painel' : 'Criar nova operação'"
        [disabled]="loadingTable"
        (click)="showAddForm = !showAddForm"
        class="flex justify-center items-center self-end w-8 h-8 bg-emerald-700 rounded-lg transition-all duration-500 origin-center cursor-pointer hover:scale-125 disabled:opacity-50 disabled:cursor-default"
      >
        <app-icon [icon]="showAddForm ? 'close' : 'add'"></app-icon>
      </button>
    </div>
  </div>
  <div
    class="flex overflow-hidden relative justify-center items-center w-11/12 h-auto bg-emerald-900 rounded-xl sm:h-full"
  >
    <div
      *ngIf="!showAddForm"
      #operationsTable
      appMaxWidth
      class="overflow-y-auto w-full h-[60vh] sm:h-full"
    >
      <ul
        #operationsUl
        *ngIf="operations$ | async as operations; else loading"
        [class.!h-full]="selectedOperationId > 0"
        class="overflow-y-auto overflow-x-hidden relative top-0 left-0 w-full h-fit"
      >
        <app-operation
          *ngFor="let op of operations"
          id="{{ op.id }}"
          [operation]="op"
          [class.hidden]="selectedOperationId > 0 && selectedOperationId !== op.id"
          [class.!hidden]="op.parentOperationId"
          (selectIndex)="select($event)"
          class="flex flex-col h-full"
        ></app-operation>
      </ul>
      <ng-template #loading>
        <app-icon
          icon="spinner-loader"
          size="xl"
        ></app-icon>
      </ng-template>
    </div>
    <app-operation-form
      *ngIf="showAddForm"
      (isLoading)="disableButtons()"
      class="w-full h-[60vh] sm:h-full relative z-40"
    ></app-operation-form>
    <div
      id="endDarkGradient"
      *ngIf="!showAddForm"
      class="w-full h-[10%] absolute z-10 bottom-0 bg-gradient-to-t from-black to-transparent opacity-20"
    ></div>
  </div>
</section>
