<div
  class="min-w-screen min-h-screen w-full h-[130%] bg-gradient-to-tr from-emerald-400 via-emerald-300 via-emerald-400 to-emerald-300"
>
  <section
    class="max-w-screen-lg h-screen bg-emerald-600 my-0 mx-auto flex flex-col justify-start items-center relative"
  >
    <h1
      class="max-w-screen-lg w-full h-fit fixed z-50 text-center py-4 bg-emerald-900 font-black text-emerald-100 text-xl"
    >
      forfaitBank
    </h1>
    <div
      class="max-w-screen-lg w-full h-fit block text-center py-4 bg-emerald-900 font-black text-emerald-100 text-xl"
    >
      forfaitBank
    </div>
    <section class="w-full h-full overflow-x-hidden" style="overflow-y: overlay">
      <router-outlet></router-outlet>
    </section>
  </section>
</div>
