<form class="px-16" [formGroup]="form" id="registerForm">
  <h2
    *ngIf="isEditMode; else elseBlock"
    class="mt-6 text-3xl font-bold tracking-tight text-center text-emerald-100"
  >
    Editar conta
  </h2>
  <ng-template #elseBlock>
    <h2
      class="mt-12 text-3xl font-bold tracking-tight text-center text-emerald-100"
    >
      Cadastrar conta
    </h2>
  </ng-template>
  <div>
    <label for="name" class="block mt-8 text-sm font-medium text-white sm:mt-4"
      >Nome</label
    >
    <div class="relative mt-1 rounded-md shadow-sm">
      <input
        name="name"
        id="name"
        formControlName="name"
        type="text"
        autocomplete="name"
        class="block px-3 w-full rounded-md text-black border-gray-300 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
        placeholder="Seu nome completo"
      />
    </div>
  </div>
  <div>
    <label for="email" class="block mt-4 text-sm font-medium text-white"
      >Email</label
    >
    <div class="relative mt-1 rounded-md shadow-sm">
      <input
        name="email"
        id="email"
        formControlName="email"
        type="email"
        autocomplete="email"
        class="block px-3 w-full rounded-md text-black border-gray-300 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
        placeholder="patrick@forfait.org"
      />
    </div>
  </div>
  <div>
    <label for="address" class="block mt-4 text-sm font-medium text-white"
      >Endereço</label
    >
    <div class="relative mt-1 rounded-md shadow-sm">
      <input
        type="text"
        name="address"
        formControlName="address"
        id="address"
        autocomplete="address-line1"
        class="px-3 w-full rounded-md text-black border-gray-300 lock focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
        placeholder="Rua Cinco de Julho, Guarulhos"
      />
    </div>
  </div>
  <div>
    <label for="cpf" class="block mt-4 text-sm font-medium text-white"
      >CPF</label
    >
    <div class="relative mt-1 rounded-md shadow-sm">
      <input
        type="text"
        name="cpf"
        id="cpf"
        formControlName="cpf"
        autocomplete="off"
        class="px-3 w-full rounded-md text-black border-gray-300 lock focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
        [inputMask]="cpfMask"
        placeholder="485.345.993-08"
      />
    </div>
  </div>
  <div>
    <label for="birthdate" class="block mt-4 text-sm font-medium text-white"
      >Data de nascimento</label
    >
    <div class="relative mt-1 rounded-md shadow-sm">
      <input
        type="date"
        onkeydown="return false"
        name="date"
        id="birthdate"
        formControlName="birthdate"
        autocomplete="bday"
        class="px-3 w-full rounded-md text-black border-gray-300 lock focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
        placeholder="22/11/2003"
        max="2003-12-31"
      />
    </div>
  </div>
  <div>
    <label for="password" class="block mt-4 text-sm font-medium text-white"
      >Senha</label
    >
    <div class="relative mt-1 rounded-md shadow-sm">
      <input
        name="password"
        id="password"
        type="password"
        formControlName="password"
        autocomplete="new-password"
        class="block px-3 w-full rounded-md text-black border-gray-300 focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm"
        placeholder="••••••••"
      />
    </div>
  </div>
  <p class="mt-1 text-xs text-slate-300" *ngIf="isEditMode">
    Para enviar digite sua senha.
  </p>
  <button
    id="submitButton"
    type="submit"
    (click)="submitForm()"
    [disabled]="this.form.invalid || ui.feedback != undefined"
    class="flex relative top-0 left-0 justify-center px-4 py-2 mt-6 w-full text-sm font-medium text-white bg-emerald-800 rounded-md border border-transparent transition-all duration-500 hover:bg-emerald-900 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 disabled:opacity-50"
  >
    {{ isEditMode ? "Editar conta" : "Fazer cadastro" }}
  </button>
  <button
    #backButton
    (click)="closeForm()"
    class="flex relative justify-center px-4 py-2 mt-6 mb-10 w-full text-sm font-medium text-gray-600 bg-emerald-200 rounded-md border border-transparent transition-all duration-500 hover:bg-emerald-300 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 disabled:opacity-50"
  >
    Voltar
  </button>
  <!-- START - Form submit result feedback -->
  <div
    *ngIf="ui.feedback == 'success'"
    [@fadeInOnEnter] [@fadeOutOnLeave]
    class="p-4 mt-6 w-full font-bold text-center text-emerald-100 bg-emerald-900 rounded-md h-fit"
  >
    <p>Usuário {{ isEditMode ? "editado" : "cadastrado" }} com sucesso! =)</p>
    <p class="mt-2 text-xs font-light">
      Voltando para a página anterior em {{ ui.seconds }} seg.
    </p>
  </div>
  <div
    *ngIf="ui.feedback == 'error'"
    [@fadeInOnEnter] [@fadeOutOnLeave]
    class="p-4 mt-6 w-full font-bold text-center text-gray-200 bg-red-700 rounded-md h-fit"
  >
    <p>Ops! Tivemos um problema ao {{ isEditMode ? "editar" : "cadastrar" }} o usuário =(</p>
    <p class="mt-2 text-xs font-light">
      Verifique os campos e tente novamente ({{ ui.seconds }}).
    </p>
  </div>
  <!-- END - Form submit result feedback -->
</form>
