/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

::-moz-selection,
::selection {
  background-color: #34d399;
  color: #064e3b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.translate-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.translate-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.translate-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  display: none
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0.5em;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #064e3b;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #34d399;
    box-shadow: inset 0 0 6px #00000030;
  }
}


/* Loading three dots */

:root {
  --point-color: #555;
  --size: 5px;
}

.loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 0 5px;
  background: gainsboro;
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
